/* General container styling */
.container {
    padding: 20px;
}

/* Carousel styling */
.small-carousel {
    max-height: 300px; /* Adjust this value as needed */
    overflow: hidden;
}

.small-carousel .carousel-inner img {
    height: 300px; /* Adjust this value as needed */
    object-fit: cover;
    filter: brightness(30%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

/* Search box styling */
.search-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 75%;
    background-color: white;
    color: black;
}

/* Card styling */
.card {
    margin-bottom: 20px;
}

/* Heading styling */
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Utility classes */
.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.row-cols-1 > .col {
    margin-bottom: 20px;
}
